name: Build The Theme & Deploy

on:
  pull_request:
    branches:
      - main
    types: [closed]

defaults:
  run:
    working-directory: moodle404-

jobs:
  run-github-action:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      
      - name: Get npm cache directory
        id: npm-cache-dir
        run: |
          echo "::set-output name=dir::$(npm config get cache)"
          
      - uses: actions/cache@v3
        id: npm-cache
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
            
      - name: ADD NODE JS v12.x
        uses: actions/setup-node@v2
        with:
          node-version: "12.x"
          
      - name: ADD PHP v 7.4.x
        uses: shivammathur/setup-php@v2
        with:
          php-version: "7.4"
          tools: composer:v2
          
      - name: RUN NPM
        run: npm ci
        
      - name: RUN COMPOSER
        run: composer install
        
      - name: BUILD THEME
        run: npm run prod
        
      - name: Before Deployment
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: "22"
          script: |
            sudo rm -rf /var/www/html/*
            sudo chown -R $USER:$USER /var/www/html/
            
      - name: Deploy to AWS Server
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
          REMOTE_HOST: ${{ secrets.EC2_HOST }}
          REMOTE_USER: ${{ secrets.EC2_USER }}
          SOURCE: "./moodle404-/"
          TARGET: "/var/www/html/"
          EXCLUDE: "/node_modules/"
          
      - name: After Deployment
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
           port:"22"
          script: |
            sudo chown -R www-data:www-data /var/www/html/
            sudo systemctl restart apache2
